.bar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.bar-li {
    float: left;
}

.bar-link {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

.bar-link:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

.contact-header {
    padding: 20px 15px;
}

p {
    text-align: right;
}